.wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.wrapper_darken {
  background-color: #f6f5f3;
}
.wrapper_darken-secodary {
  background-color: #323969;
}
.wrapper_header {
  min-height: 100vh;
  background-image: url("/images/main-background.png");
  background-position: center;
  background-size: cover;
}
.wrapper_background-image {
  background: rgba(0, 0, 0, 0.9);
  background-image: url("/images/Group_4.png");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}

.page {
  margin: 0;
  padding: 0;
}

.container {
  color: #282828;
  position: relative;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container_header {
  height: 348px;
  text-align: center;
}
.container__row {
  width: 100%;
}
.container__list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  text-align: center;
  padding: 0;
}
.container__list_space-around {
  justify-content: space-around;
}
.container__list-item {
  width: 350px;
  padding: 25px;
}
.container__article {
  padding: 80px;
}
.container__article_center {
  text-align: center;
}
.container__article_narrow {
  width: 600px;
}
.container__article_right {
  width: 40%;
  margin-left: auto;
}

.button {
  display: inline-flex;
  text-align: center;
  border-radius: 3px;
  background-color: #ff6d6d;
  font-family: "Exo";
  font-size: 16px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  color: white;
}
.button_form {
  width: 258px;
  height: 50px;
}
.button_header {
  width: 190px;
  height: 50px;
}

.text {
  font-family: "Exo";
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.64px;
  text-decoration: none;
}
.text_heading-main {
  font-family: "Exo";
  font-size: 60px;
  font-weight: 100;
  line-height: 75px;
  letter-spacing: 2.4px;
  text-decoration: none;
  width: 750px;
}
.text_heading {
  font-family: "Exo";
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 1.6px;
  text-decoration: none;
  margin-top: 10px;
}
.text_heading-small {
  font-family: "Exo";
  font-size: 22px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 0.88px;
  text-decoration: none;
}
.text_extra-small {
  font-family: "Exo";
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 0.56px;
  text-decoration: none;
}
.text_heading-medium {
  margin-bottom: 0;
  font-family: "Exo";
  font-size: 16px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  text-decoration: none;
}
.text_secondary {
  color: #ff6d6d;
}
.text_white {
  color: #ffffff;
}
.text_quote {
  font-weight: 100;
  font-style: italic;
}

.decoration-image {
  position: absolute;
}
.decoration-image_1 {
  top: 0;
  left: 6%;
}
.decoration-image_2 {
  top: 0;
  right: 6%;
}
.decoration-image_3 {
  bottom: 0;
  right: 6%;
}
.decoration-image_4 {
  top: 25%;
  left: 3%;
}

.icon {
  width: 65px;
  height: 65px;
}
.icon_partner {
  filter: invert(100%);
  margin-bottom: 100px;
}

.form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  align-items: flex-end;
  padding: 30px;
  padding-top: 0;
}
.form__text-input {
  font-family: Exo;
  font-size: 16px;
  font-weight: 400;
  line-height: 75px;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  text-decoration: none;
  width: 263px;
  height: 49px;
  border-radius: 3px;
  border: 1px solid #ffffff;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  text-indent: 20px;
}
.form__submit-button-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
.form__submit-input {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.form__submit-button-caption {
  margin-bottom: 40px;
  padding-left: 30px;
}
.form__submit-button-caption::before {
  content: url(/images/ARROW.png);
  width: 56px;
  height: 41px;
  top: 5%;
  left: 0;
  position: absolute;
}

/*# sourceMappingURL=main.css.map */
