$background-color-secondary: $wild-sand;
$brand-color: $jaffa;
$text-color-dark-background: $white;
$text-color-primary: $mine-shaft;
$text-color-secondary: $oslo-gray;
$text-color-placeholder: $silver;

