.email-input-container {
  display: flex;
  width: 400px;
  border-bottom: 3px solid #000000;
  justify-content: center;

  &__text {
    border: none;
    background-color: inherit;
    font-family: "Playfair Display", serif;
    font-size: 14px;
    font-weight: 400;
    width: 92%;
    margin-bottom: 5px;
  }

  &__submit {
    border: none;
    background-color: inherit;
    width: 8%;
    height: 17px;
  }
}
