.button {
  display: flex;
  text-align: center;
  border-radius: 3px;
  background-color: #ff6d6d;
  @include font("Exo", 16px, 400, 50px, 3.2px, uppercase, none);
  align-items: center;
  justify-content: center;
  color: white;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &_play {
    background-color: $secondary-dark-background-color;
    border-radius: 50%;
    padding: 30px;
    opacity: 0.5;
    margin-bottom: 40px;
    background-image: url(/images/play.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 20px;
  }

  &_paused {
    background-image: url(/images/pause.svg);
    background-position: 17px;
  }

  &_form {
    width: 258px;
    height: 50px;
  }

  &_header {
    width: 190px;
    height: 50px;
  }

  &_footer {
    background-image: url("/images/10.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
    padding: 10px;
    position: absolute;
    right: 0;
    width: 52px;
    height: 50px;
    box-shadow: 0 3px 3px rgba(14, 15, 15, 0.25);
    border-radius: 3px;
    border: 1px solid #ff6d6d;
    background-color: #ff6d6d;
  }

}
