.load-more-button {
  width: 166px;
  height: 62px;
  border: 1px solid #626262;

  background-color: white;
  color: #626262;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  transition: 0.5s;

  &:hover {
    cursor: pointer;
    background-color: #eaeaea;

  }
}
