.wrapper {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  &_darken {
    background-color: $dark-background-color;
  }

  &_darken-secodary {
    background-color: $secondary-dark-background-color;
  }

  &_header {
    min-height: 100vh;
    background-image: url("/images/main-background.png");
    background-position: center;
    background-size: cover;
  }

  &_background-image {
    background: rgba(0, 0, 0, 0.9);
    background-image: url("/images/Group_4.png");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
  }

  &_triangle {
    width: 30%;
  }

  &_with-triangle-1 {
    &:before {
      content: "";
      background: linear-gradient(to bottom right, #f6f5f4 50%, #ff6d6d 50%) no-repeat;
      position: absolute;
      width: 50%;
      height: 100%;
      left: 50%;
      bottom: 0;
      z-index: -1;
    }
  }

  &_with-triangle-2 {
    &:before {
      content: "";
      background: linear-gradient(45deg, #ff6d6d 50%, #ffffff 50%) no-repeat;
      position: absolute;
      width: 100%;
      height: 100%;
      left: -300px;
      bottom: 0;
      z-index: -1;
    }
  }
}
