html {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.wrapper {
  display: flex;
  padding: 60px 0;
  justify-content: center;
}
.wrapper_footer {
  background-color: #f0f0f0;
  padding: 0;
  flex-shrink: 0;
}
.wrapper_header {
  padding: 0;
}

.header {
  height: 100px;
  width: 100%;
  margin: 0 6%;
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.header li:nth-child(1) {
  margin-right: 35%;
}
.header__link {
  text-decoration: none;
  color: #626262;
  font-family: "Playfair Display", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}
.header__link_main {
  font-weight: 400;
  font-family: "Inconsolata", serif;
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #000000;
}

.content {
  margin: 0 6%;
  width: 100%;
  max-width: 1080px;
  display: flex;
  align-items: center;
  flex-flow: column;
}
.content__topic {
  text-decoration: none;
  color: #b4ad9e;
  margin-top: 65px;
  align-self: end;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}
.content__topic_main {
  margin-right: 8%;
  margin-left: 8%;
}
.content__title {
  color: #626262;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-weight: 400;
  align-self: end;
  margin-top: 20px;
}
.content__title_main {
  margin-right: 8%;
  margin-left: 8%;
}
.content__image {
  width: 100%;
}
.content__paragraph {
  color: #626262;
  font-family: "Playfair Display", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 23px;
}
.content__paragraph_main {
  margin-right: 8%;
  margin-left: 8%;
}
.content__comment {
  text-decoration: none;
  color: #b4ad9e;
  margin: 35px 8% 0;
  align-self: end;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}
.content__paragraph_shortened {
  height: 70px;
  text-overflow: clip;
  overflow: hidden;
}
.content_footer {
  display: flex;
  width: 100%;
  max-width: 1080px;
}

.content-row {
  max-width: 1080px;
  display: flex;
  margin-top: 60px;
}
.content-row:first-child {
  margin-top: 0;
}

.email-input-container {
  display: flex;
  width: 400px;
  border-bottom: 3px solid #000000;
  justify-content: center;
}
.email-input-container__text {
  border: none;
  background-color: inherit;
  font-family: "Playfair Display", serif;
  font-size: 14px;
  font-weight: 400;
  width: 92%;
  margin-bottom: 5px;
}
.email-input-container__submit {
  border: none;
  background-color: inherit;
  width: 8%;
  height: 17px;
}

.sign-up-form {
  width: 100%;
  height: 289px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}
.sign-up-form__title {
  color: #333333;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.75px;
  margin-bottom: 80px;
}

.load-more-button {
  width: 166px;
  height: 62px;
  border: 1px solid #626262;
  background-color: white;
  color: #626262;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.suggestions {
  display: flex;
  flex-direction: column;
}

.footer {
  height: 100px;
  width: 100%;
  margin: 0 6%;
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.footer__link {
  text-decoration: none;
  color: #000000;
  font-family: "Playfair Display", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.footer_left {
  margin-right: 30%;
}
.footer__right {
  width: 150px;
  margin-left: auto;
}

/*# sourceMappingURL=main.css.map */
